<div class="container space">
    <div class="form">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Pavimentada</span>
            </div>
            <input type="text" class="form-control" ng-model="streetPavimentadaDistance">
            <div class="input-group-append">
                <span class="input-group-text">km</span>
                <span class="input-group-text">valor</span>
            </div>
        </div>

         <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Não pavimentada</span>
            </div>
            <input type="text" class="form-control" ng-model="streetNotPavimentadaDistance">
            <div class="input-group-append">
                <span class="input-group-text">km</span>
                <span class="input-group-text">valor</span>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Carga</span>
            </div>
            <input type="text" class="form-control" ng-model="chargeWeigth">
            <div class="input-group-append">
                <span class="input-group-text">Ton</span>
                <span class="input-group-text">{{chargeWeigthCost}}</span>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" ng-model="selectedVehicle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedVehicle}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" ng-model="selectedVehicle" href="#">Caminhão baú</a>
                    <a class="dropdown-item" href="#">Caminhão caçamba</a>
                    <a class="dropdown-item" href="#">Carreta</a>
                </div>
            </div>

            <button type="button" class="btn btn-secondary" ng-click="findCharge()" >Consultar</button>
        </div>

    </div>
</div>