.form{
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: #21629a85;
    border-radius: 20px;
    padding: 1rem;
    color: white;
    font-size: 1.08rem;
}


.space > div{
    margin: 10px;
}


body {
    background: url(/imagens/street1.jpg);
    background-size: 100% auto;
}


.vehicle-div{
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}


input.ng-invalid{
    border-color: #dc3545;
}


.align-cost-result{
    display: -webkit-inline-box;
}


.my-dropdown{
    border: 1px solid transparent;
    padding: .6rem;
    border-radius: 5px;
    width: 15.4rem;
}


.my-dropdown option{
    background-color: #d2e4ff;
}

.space-result{
    width: 6rem;
}