.form{
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: #21629a85;
    border-radius: 20px;
    padding: 1rem;
}


.space > div{
    margin: 10px;
}

body {
    background: url(/imagens/street1.jpg);
    background-size: 100% auto;
}